# Exclude all.
*

# Except source package
!src/
!src/**/
!src/**/*.py

# Except tests
!tests/
!tests/**/
!tests/**/*.py

# Except scripts
!scripts/
!scripts/**/
!scripts/**/*

# Except project root files
!pyproject.toml
!README.md
!Dockerfile
