# Exclude all.
*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yaml

# Except source package
!src/
!src/**/
!src/**/*.py

# Except tests
!tests/
!tests/**/
!tests/**/*.py

# Except notebooks
!notebooks/
!notebooks/**/
!notebooks/**/*.ipynb

# Except scripts
!scripts/
!scripts/**/
!scripts/**/*

# Except project root files
!helper.sh
!Dockerfile
!docker-compose.yml
!pyproject.toml
!LICENSE
!README.md
!CONTRIBUTING.md
!.dockerignore
